<div class="login-box">
  <h2>Login <span (click)="goRegister()" class="link">register</span></h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="user-box">
      <input type="text" formControlName="email" name="email" #email>
      <label>Email</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        {{email.errors}}kkkkkkkkkkk
        <div *ngIf="email.errors.required">
          email is required.
        </div>
        <div *ngIf="email.errors.email">
          Not valid email address
        </div>
      </div>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" name="password" #password>
      <label>Password</label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          password must be at least 6 characters long.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>

  </form>
  <span style="color: azure;">{{message}}</span>
</div>