html {
    height: 100%;
  }
  body {
    
    padding-left:50px;
    font-family: sans-serif;
  }
  label {
      margin: 25;
  }
  .link{
    color:#5099eff2;
    text-decoration: underline;
    margin-left: 2vw;
    cursor: pointer;
  }
  