table {
    width: 100%;
  }
  .mat-elevation-z8 {
    width: 70vw;
    margin-left: 15vw;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.mat-paginator {
  display: block;
  width: 70vw;
  margin-top: 5vh;
  margin-left: 15vw;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 70vw;
  margin-left: 12vw;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

/*  */
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-raised-button{
  margin-left: 2vw;
}